<div class="modal-content">
  {{!-- <iframe class="iframes" src="{{this.url}}"></iframe> --}}
  <h4>{{this.title}}</h4>
  <h5>By: {{this.author}} | Date: {{this.publishedAt}}</h5>
  <a href="{{this.url}}" target="_blank"><h6>Link to Article</h6></a>
  <p>{{this.description}}</p>
  <p>{{this.content}}</p>
</div>