<div class="modal-content">
  {{!-- <iframe class="iframes" src="{{this.url}}"></iframe> --}}
  <div class="center-align">
    <h4>{{this.title}}</h4>
  </div>
  <hr>
  <br>
  <p class="description">{{this.description}}</p>
  <div class="right-align">
    {{#if this.author}}
    <h6>By: <span class="author">{{this.author}}</span></h6>
    {{/if}}
    <h6>Date: <span class="date">{{this.publishedAt}}</span></h6>
  </div>
  <div class="center-align">
    <a class="waves-effect black btn-small link-article" href="{{this.url}}" target="_blank">
      <h6>Link to Article</h6>
    </a>
  </div>
</div>