<h2 class="center-align">Results for {{topic}}</h2>
<div class="container">
  {{#if foundUsers}}
  <h3 class="center-align">User Results</h3>
  <div id="resultsOfUsers" class="row">
    {{#each foundUsers}}
    <div class="foundUsers-info">
      <div class="col s2">
        <img class="circle" src={{this.img}}>
      </div>
      <div class="col s6 user-and-name">
        <a class="nameOfUser" href="/profile/{{this._id}}">
          <p>{{this.name}}</p>
        </a>
        <p class="results-username">@{{this.username}}</p>
      </div>
      <div class="col s4 valign-wrapper">
     {{#if ../user}}
        {{#if this.isFollowing}}
        <a id="{{this._id}} {{../user._id}}" onclick="followUser(this)" class="btn-small blue follow-btn">Following</a>
        {{else}}
        <a id="{{this._id}} {{../user._id}}" onclick="followUser(this)" class="btn-small black follow-btn">Follow</a>
        {{/if}}
     {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div id="newsContent" class="row">
    <h3 class="center-align">News Results</h3>
    {{#each allNews}}
    {{> newsPartial user=../user}}
    {{/each}}
  </div>
</div>
<div class="loader"></div>