<section id="profile-view">
  <div class="container">
    <div class="row">
      <div class="col s12 hide-on-med-and-up small-profile">
        <div class="row valign-wrapper">
          <div class="col s4 small-img">
            <img class="circle" src={{user.img}}>
          </div>
          <div class="col s4">
            <div class="rec-Users-info center-align">
              <a class="nameOfUser" href="/profile/{{user._id}}">
                <p>{{user.name}}</p>
              </a>
              <p class="results-username">@{{user.username}}</p>
            </div>
          </div>
          <div class="col s4">
            <div class="row">
              <div class="col s6 center-align">
                <p>News</p>
                <span>{{numOfArticles}}</span>
              </div>

              <div class="col s6 center-align">
                <p>Followers</p>
                <span>{{followers}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="row profile-row">
      <div class="col m5 l3 hide-on-small-only">

        <div class="row">
          <div class="col s12 center-align">
            <img class="circle profile-img" src={{user.img}}>
          </div>
        </div>

        <div class="row">
          <div class="col s12 center-align">
            <h5>{{user.name}}</h5>
            <p>@{{user.username}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col s6 center-align">
            <p>News</p>
            <span>{{numOfArticles}}</span>
          </div>

          <div class="col s6 center-align">
            <p>Followers</p>
            <span>{{followers}}</span>
          </div>
        </div>
        <div class="row" fullname="{{user.name}}" username="{{user.username}}" email="{{user.email}}">
          <div class="col s12 center-align">
            <a class="btn-small black modal-trigger" href="#edit-profile-modal" onclick="populateForm(this)">Edit Profile</a>
          </div>
        </div>
        <div class="row">
          <div class="col m12 left-align">
            <h3 class="tending-title">Trending topics</h3>
            <ul class="trending-topics">
              <a href="/trump">
                <li>#trump</li>
              </a>
              <a href="/ironhack">
                <li>#Ironhack</li>
              </a>
              <a href="/2020">
                <li>#2020</li>
              </a>
              <a href="/nba">
                <li>#NBA</li>
              </a>
              <a href="/soccer">
                <li>#Soccer</li>
              </a>
              <a href="/summer">
                <li>#Summer</li>
              </a>
              <a href="/vacation">
                <li>#Vacation</li>
              </a>
              <a href="/election">
                <li>#Election</li>
              </a>
              <a href="/miami">
                <li>#Miami</li>
              </a>
              <a href="/apple">
                <li>#Apple</li>
              </a>
              <a href="/google">
                <li>#Google</li>
              </a>
              <a href="/facebook">
                <li>#Facebook</li>
              </a>
              <a href="/javascript">
                <li>#Javascript</li>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l6">
        <h5>Your saved news</h5>
        {{#if allNews}}
        {{#each allNews}}
        <div class="row">
          {{!-- {{> newsPartial}} --}}
          <div class="col s12">
            <div class="card newCard">
              <div class="card-image">
                <img src="{{this.picture}}">
              </div>
              <div class="card-content center-align">
                <div class="row">
                  <div class="col s12">
                    <h5 id="title-card-{{@index}}">{{this.title}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <a href="#readmore-modal{{@index}}" class="waves-effect black btn-small modal-trigger">Read more</a>
                  </div>
                </div>

                <div id="{{@index}}" class="row like-comment-section">
                  <div class="col s6">
                    {{#if this.liked}}
                    <button class="btn social-buttons hide-if-overflow" onclick="toggleLike(this)"><i
                        class="fas fa-thumbs-up"></i><span>{{this.likes.length}} likes</span></button>
                    {{else}}
                    <button class="btn social-buttons hide-if-overflow" onclick="toggleLike(this)"><i
                        class="far fa-thumbs-up"></i><span>{{this.likes.length}} likes</span></button>
                    {{/if}}
                  </div>

                  <div class="col s6">
                    <button class="btn social-buttons hide-if-overflow" id="show-{{@index}}"
                      onclick="showComments(this)"><i class="far fa-comment-alt"></i> Comments</button>
                    <button class="btn social-buttons hide hide-if-overflow" id="hide-{{@index}}"
                      onclick="hideComments(this)">Hide comments</button>
                  </div>
                </div>

              </div>
              <div class="row comment-row hide" id="comments-section-{{@index}}">
                {{#each comments}}
                <div class="col s12">
                  <div class="row comment-div">
                    <div class="col s2 center-align">
                      <img class="circle comment-pictures" src="{{this.user.img}}" alt="user-img">
                    </div>

                    <div class="col s10 left-align">
                      <div class="row content-section">
                        <div class="col s12">
                          <span class="user-name-span">{{this.user.name}}</span>
                          <span>| 4h</span>
                        </div>
                      </div>
                      <div class="row content-section">
                        <div class="col s12">
                          <p>{{this.content}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>

              <div class="row hide" id="comment-form-{{@index}}">
                <div id="{{@index}}" class="col s12 comment-form">
                  <input id="comment-input-{{@index}}" type="text" onclick="onSendComment(this)"
                    placeholder="Comment...">
                  <button id="send-btn-{{@index}}" class="btn" onclick="postComment(this)">Send</button>
                </div>
              </div>
            </div>
            <div id="readmore-modal{{@index}}" class="modal newsmodals" tabindex="0">
              <div class="modal-content">
                <div class="center-align">
                  <h4>{{this.title}}</h4>
                </div>
                <hr>
                <br>
                <p class="description">{{this.description}}</p>
                <div class="right-align">
                  {{#if this.author}}
                  <h6>By: <span class="author">{{this.author}}</span></h6>
                  {{/if}}
                  <h6>Date: <span class="date">{{this.articleDate}}</span></h6>
                </div>
                <div class="center-align">
                  <a class="waves-effect black btn-small link-article" href="{{this.articleUrl}}" target="_blank">
                    <h6>Link to Article</h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <h3>Nothing to see here... Check back later!</h3>
        {{/if}}
      </div>


      <div class="col l3 hide-on-med-and-down">
        <p>Users you are following</p>
        {{#each allUsers}}
        <div class="rec-Users">
          <img class="circle" src={{this.img}}>
          <div class="rec-Users-info">
            <a class="nameOfUser" href="/profile/{{this._id}}">
              <p>{{this.name}}</p>
            </a>
            <p class="results-username">@{{this.username}}</p>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>

  <div id="edit-profile-modal" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <h4>Edit your profile</h4>
        </div>
      </div>
      <div class="row">
        <form action="/profile/edit" method="POST" class="col s12" id="edit-form-modal">
          <div class="row no-margin">
            <div class="input-field col s12">
              <input id="name" type="text" name="name" class="validate">
              <label id="name-label" for="name">Name</label>
              <span class="helper-text" data-error="Name is required"></span>
            </div>
          </div>

          <div class="row no-margin">
            <div class="input-field col s12">
              <input id="username" type="text" name="username" class="validate">
              <label id="username-label" for="username">Username</label>
            </div>
          </div>

          {{!-- {{#unless user.linkedin}}
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="email" type="email" name="email" class="validate">
                <label id="email-label" for="email">Email</label>
                <span class="helper-text" data-error="Email is required"></span>
              </div>
            </div>
          {{/unless}}   --}}

          {{!-- {{#if user.password}}
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate">
                <label id="password-label" for="password">Password</label>
              </div>
            </div>
          {{/if}} --}}

          <div id="file-row" class="row">
            <div class="file-field input-field col s12">
              <div class="btn">
                <span>File</span>
                <input id="fake-input" type="file" accept="image/png, image/jpeg image/jpg" value="a">
              </div>
              <div class="file-path-wrapper">
                <input id="text-filename" class="file-path validate" type="text" onchange="getFilename()">
              </div>
            </div>
          </div>

          <input id="webcamImg" type="hidden" name="webcamImg" value="" />
          <input id="fileImg" type="hidden" name="fileImg" value="" />

          <div id="webcam-row" class="row webcam-row" onclick="initializeWebcam(this)">
            <p class="s" id="title-webcam">Or take a picture</p>
            <div class="col s12 webcam-container" id="webcam-container">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer" id="modal-edit-footer">
      <div class="row no-margin">
        <div class="col s6 center-align">

          <div class="hide" id="snap-cancel-btn">
            <button class="btn" onclick="freezeCamera()"><i class="fas fa-camera"></i> Snap</button>
            <button class="btn red darken-4" onclick="shutdownCamera()"><i class="fas fa-window-close"></i> Shuwtdown</button>
          </div>

          <div class="hide" id="retake-cancel-btn">
            <button class="btn" onclick="unfreezeCamera()"><i class="fas fa-redo-alt"></i> Retake</button>
            <button class="btn red darken-4" onclick="shutdownCamera()"><i class="fas fa-window-close"></i> Shutdown</button>
          </div>
        </div>

        <div class="col s6">
          <button onclick="updateProfile()" class="btn">Save profile</button>
          <a href="#!" class="modal-close waves-effect waves-green btn">Cancel</a>
          {{!-- <a href="#!" class="modal-close waves-effect waves-green btn">Save</a> --}}
        </div>
      </div>
    </div>
  </div>
</section>